<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<span class='navbar-brand'>observe:weather</span>
		</div>
		<div class="collapse navbar-collapse">
			<p class='navbar-text navbar-right'><%= Date.today.strftime("%a %B %e").downcase %></p>
		</div>
	</div>
</nav>
<h1>TEMPERATURE</h1>
<div class="current-temp"><%= Reading.last.try(:fahrenheit) %></div>
<canvas id="myChart" width="400" height="400"></canvas>
<script>
	var data = {
		labels: <%= @readings.each_with_index.map { |r, index| index.to_s }.to_s.html_safe %>,
		datasets: [{
			label: "My First dataset",
      fillColor: "rgba(220,220,220,0.2)",
      strokeColor: "rgba(220,220,220,1)",
      pointColor: "rgba(220,220,220,1)",
      pointStrokeColor: "#fff",
      pointHighlightFill: "#fff",
      pointHighlightStroke: "rgba(220,220,220,1)",
			data: <%= @readings.map { |reading| reading.fahrenheit } %>
		}]
	};
</script>
<footer class="footer">
		<p class="text-muted">Copyright 2015.</p>
</footer>